body {
  background-color: black;
  color: red;
  font-family: DejaVu Sans Mono, monospace;
  font-weight: 100;
}

h1 {
  color: darkred;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
}

#input-name {
  background-color: grey;
}

#input-number {
  background-color: gray;
}

#enterNumber {
  display:none;
}

#results {
  display:none;
}

#reverseNumber {
  display:none;
}
