body {
  background-color: black;
  color: red;
}

img {
  width: 300px;
  height: auto;
}

#input-name {
  background-color: grey;
}

#input-number {
  background-color: gray;
}

#questionTwo {
  display:none;
}

#results {
  display:none;
}

#reverseNumber {
  display:none;
}
